table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 15px;
}

th {
  border: 1px solid black;
  padding: 15px;
}

.table-data-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
}

#add-new-user {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

#name,
#email {
  margin-left: 5px;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .user-id-wrapper,
  .user-name-wrapper,
  .user-created-wrapper,
  .user-checkbox-wrapper {
    display: none;
  }

  td {
    padding: 10px;
  }

  .table-wrapper {
    width: 100%;
  }

  .user-email-wrapper {
    width: 100%;
  }

  #table {
    width: 100%;
  }

  #add-new-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #name,
  #email {
    margin-left: 0px;
    margin-top: 5px;
    width: auto;
  }

  #input-form-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

#search {
  width: calc(100% - 8px);
}

#buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.input-wrapper {
  width: 100%;
  padding: 10px 0;
}

#num-of-users {
  margin-right: 10px;
}

#first-page-button {
  margin-right: 10px;
}

#pagination-left {
  margin-right: 10px;
}

#pagination-right {
  margin-right: 10px;
}

.table-wrapper {
  margin-bottom: 15px;
}

#update-user-button {
  margin-right: 5px;
}

.user-name-wrapper {
  width: 200px;
}

.user-email-wrapper {
  width: 230px;
}

#delete-checked-users {
  margin-right: 10px;
}

span.delete-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

span.delete-icon-wrapper span {
  position: absolute;
  right: 5px;
  visibility: hidden;
}

#input-form-wrapper {
  display: flex;
  flex: 1;
}

#message {
  width: 100%;
}

#error-message {
  color: red;
}

#succes-message {
  color: green;
}

.user-checkbox-wrapper {
  text-align: center;
}

.user-id-wrapper {
  width: 50px;
  text-align: center;
}

th.user-id-wrapper,
th.user-name-wrapper,
th.user-email-wrapper,
th.user-created-wrapper {
  cursor: pointer;
}

.update-clone-button {
  margin-right: 5px;
}
