#update-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#update-button {
  margin-right: 5px;
}

#go-back {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  #update-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}